* {
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body {
  border: 1px solid #aab !important;
  min-height: 100vh;
  background: url('/bg.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
#addItem {
  background-color: #abefab;
  min-width: 50px;
  min-height: 30px;
  border: 1px solid darkgrey;
}
a, a:visited{
  text-decoration: none;
  color: darkblue;
}
a:hover, a:active{
  color: white;
  background-color: black;
}

table {
  border: 1px solid darkgrey;
  width: 80%;
  margin: 2rem auto;
  background-color: white;
  box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
}
th {
  color: white;
  background-color: grey;
}
td {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}